<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Tweets</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
	.bs-example{
    	margin: 20px;
    }
</style>
</head>
<body>
<div class="container">
<div class="bs-example">
        <div class="card" style="width: 300px;">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ twitteruser.username }}</h5>
                    <p class="card-text">Followers: {{ twitteruser.follows|length }}</p>
                    <button onclick="window.location.href='/follow/{{ twitteruser.username }}';"> Follow </button>
                    <button onclick="window.location.href='/unfollow/{{ twitteruser.username }}';"> Unfollow </button>
                </div>
            </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="#mytweets" class="nav-link active" data-toggle="tab">Tweets</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="tweets">
            <h4 class="mt-2">Tweets</h4>
            <hr class="border border-danger mt-0 mb-4">
            {% for tweet in tweets %}
            <ul class="border border-dark rounded">
            <p><a href="/twitteruser/{{ tweet.twitteruser.username }}">{{ tweet.twitteruser.username }}</a></p>
            <p>{{ tweet.text }}</p>
            <p>{{ tweet.created_date }}</p>
            </ul>
            {% endfor %}
        </div>
    </div>
</div>
</div>
</body>