<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Tweets</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
	.bs-example{
    	margin: 20px;
    }
</style>
</head>
<body>
<div class="container">
<div class="bs-example">
        <div class="card" style="width: 300px;">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ request.user }}</h5>
                    <p class="card-text">Notifications: {{ notifications.count }}</p>
                    <p class="card-text">Following: {{ request.user.follows.count }}</p>
                    <p class="card-text">Tweets: {{ tweets.count }}</p>
                    <button onclick="window.location.href='/twitteruser/{{ request.user.username }}';"> View Profile </button>
                    <button onclick="window.location.href='/follows/{{ request.user.username }}';"> View Following </button>
                    <button onclick="window.location.href='/notifications/';"> View Notifications </button>
                    <button onclick="window.location.href='/tweetadd/';"> Add A Tweet </button>
                </div>
            </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="#mytweets" class="nav-link active" data-toggle="tab">My Tweets/Following</a>
        </li>
        <li class="nav-item">
            <a href="#newsfeed" class="nav-link" data-toggle="tab">Newsfeed</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="mytweets">
            <h4 class="mt-2">My Tweets/Following</h4>
            <hr class="border border-danger mt-0 mb-4">
            {% for tweet in tweets %}
            <ul class="border border-dark rounded">
            <p><a href="/twitteruser/{{ tweet.twitteruser }}">{{ tweet.twitteruser }}</a></p>
            <p><a href="/details/{{ tweet.pk }}">{{ tweet.text }}</a></p>
            <p>{{ tweet.created_date }}</p>
            </ul>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="newsfeed">
            <h4 class="mt-2">Newsfeed</h4>
            <hr class="border border-danger mt-0 mb-4">
            {% for tweet in user_tweets %}
            <ul class="border border-dark rounded">
            <p><a href="/twitteruser/{{ tweet.twitteruser }}">{{ tweet.twitteruser }}</a></p>
            <p><a href="/details/{{ tweet.pk }}">{{ tweet.text }}</a></p>
            <p>{{ tweet.created_date }}</p>
            </ul>
            {% endfor %}
        </div>
    </div>
</div>
</div>
</body>